.button{
    border: 1px solid gold;
    border-radius: 5px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Montserrat' !important;
    cursor: pointer;
    width: 22%;
    margin: 5px;
    margin-bottom: 20px;
}